App_WebReferences/Agency2000WS/agency2000ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DocketId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TravellerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrencyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditCardType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditMethod" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentsNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PassportNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VoucherNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateReceiptResult" type="tns:CreateReceiptResponce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateReceiptResponce">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReceiptId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocketId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTipulimPriceForSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="addId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTipulimPriceForSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTipulimPriceForSupplierResult" type="tns:TipulimPriceResponce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TipulimPriceResponce">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceNetto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceBrutto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ResourceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSecurityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PNRToDocket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PNRToDocketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PNRToDocketResult" type="tns:PNR2DocketResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PNR2DocketResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateTravellerMakatBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docketId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="travellerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderNights" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generalAreaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makatNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateTravellerMakatBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateTravellerMakatBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hotel_rooms_check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SupplierPriceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuppPriceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderRooms" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MakeOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomTypeStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hotel_rooms_checkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotel_rooms_checkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderFlightPrices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderFlightPricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderFlightPricesResult" type="tns:FlightPriceValidateResponce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FlightPriceValidateResponce">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cancelFlightPrices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SystemType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelFlightPricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelFlightPricesResult" type="tns:FlightPriceValidateResponce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAsPdfByHtmlAndMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringifiedHtml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HeadContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BaseUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubjectMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BodyMail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAsPdfByHtmlAndMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAsPdfByHtmlAndMetaDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAsPdfByHtmlAndCssRules">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringifiedHtml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CssRules" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BaseUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubjectMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BodyMail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAsPdfByHtmlAndCssRulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAsPdfByHtmlAndCssRulesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReceiptResponce" nillable="true" type="tns:CreateReceiptResponce" />
      <s:element name="TipulimPriceResponce" nillable="true" type="tns:TipulimPriceResponce" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="PNR2DocketResponse" nillable="true" type="tns:PNR2DocketResponse" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="FlightPriceValidateResponce" nillable="true" type="tns:FlightPriceValidateResponce" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReceipt" />
  </wsdl:message>
  <wsdl:message name="CreateReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:GetTipulimPriceForSupplier" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:GetTipulimPriceForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:CheckSecurity" />
  </wsdl:message>
  <wsdl:message name="CheckSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:CheckSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketSoapIn">
    <wsdl:part name="parameters" element="tns:PNRToDocket" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketSoapOut">
    <wsdl:part name="parameters" element="tns:PNRToDocketResponse" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:updateTravellerMakatBalance" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:updateTravellerMakatBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkSoapIn">
    <wsdl:part name="parameters" element="tns:hotel_rooms_check" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkSoapOut">
    <wsdl:part name="parameters" element="tns:hotel_rooms_checkResponse" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesSoapIn">
    <wsdl:part name="parameters" element="tns:orderFlightPrices" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesSoapOut">
    <wsdl:part name="parameters" element="tns:orderFlightPricesResponse" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesSoapIn">
    <wsdl:part name="parameters" element="tns:cancelFlightPrices" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesSoapOut">
    <wsdl:part name="parameters" element="tns:cancelFlightPricesResponse" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendAsPdfByHtmlAndMetaData" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendAsPdfByHtmlAndMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesSoapIn">
    <wsdl:part name="parameters" element="tns:SendAsPdfByHtmlAndCssRules" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesSoapOut">
    <wsdl:part name="parameters" element="tns:SendAsPdfByHtmlAndCssRulesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReceiptHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="UserPassword" type="s:string" />
    <wsdl:part name="DocketId" type="s:string" />
    <wsdl:part name="TravellerId" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="CurrencyId" type="s:string" />
    <wsdl:part name="CreditCardNumber" type="s:string" />
    <wsdl:part name="ExpDate" type="s:string" />
    <wsdl:part name="CVV" type="s:string" />
    <wsdl:part name="CreditCardType" type="s:string" />
    <wsdl:part name="CreditMethod" type="s:string" />
    <wsdl:part name="CreditTypeId" type="s:string" />
    <wsdl:part name="CustomerName" type="s:string" />
    <wsdl:part name="PaymentsNumber" type="s:string" />
    <wsdl:part name="PassportNumber" type="s:string" />
    <wsdl:part name="ReferenceNumber" type="s:string" />
    <wsdl:part name="VoucherNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateReceiptHttpGetOut">
    <wsdl:part name="Body" element="tns:CreateReceiptResponce" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="supplierId" type="s:string" />
    <wsdl:part name="addId" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierHttpGetOut">
    <wsdl:part name="Body" element="tns:TipulimPriceResponce" />
  </wsdl:message>
  <wsdl:message name="CheckSecurityHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="ResourceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSecurityHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="LoginName" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketHttpGetOut">
    <wsdl:part name="Body" element="tns:PNR2DocketResponse" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceHttpGetIn">
    <wsdl:part name="docketId" type="s:string" />
    <wsdl:part name="travellerId" type="s:string" />
    <wsdl:part name="orderNights" type="s:string" />
    <wsdl:part name="actionType" type="s:string" />
    <wsdl:part name="generalAreaId" type="s:string" />
    <wsdl:part name="makatNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="SupplierPriceID" type="s:string" />
    <wsdl:part name="PriceID" type="s:string" />
    <wsdl:part name="SuppPriceType" type="s:string" />
    <wsdl:part name="OrderRooms" type="s:string" />
    <wsdl:part name="FromDate" type="s:string" />
    <wsdl:part name="ToDate" type="s:string" />
    <wsdl:part name="MakeOrder" type="s:string" />
    <wsdl:part name="RoomTypeStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesHttpGetOut">
    <wsdl:part name="Body" element="tns:FlightPriceValidateResponce" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesHttpGetIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesHttpGetOut">
    <wsdl:part name="Body" element="tns:FlightPriceValidateResponce" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataHttpGetIn">
    <wsdl:part name="StringifiedHtml" type="s:string" />
    <wsdl:part name="HeadContent" type="s:string" />
    <wsdl:part name="BaseUrl" type="s:string" />
    <wsdl:part name="FromMail" type="s:string" />
    <wsdl:part name="ToMail" type="s:string" />
    <wsdl:part name="SubjectMail" type="s:string" />
    <wsdl:part name="BodyMail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesHttpGetIn">
    <wsdl:part name="StringifiedHtml" type="s:string" />
    <wsdl:part name="CssRules" type="s:string" />
    <wsdl:part name="BaseUrl" type="s:string" />
    <wsdl:part name="FromMail" type="s:string" />
    <wsdl:part name="ToMail" type="s:string" />
    <wsdl:part name="SubjectMail" type="s:string" />
    <wsdl:part name="BodyMail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CreateReceiptHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="UserPassword" type="s:string" />
    <wsdl:part name="DocketId" type="s:string" />
    <wsdl:part name="TravellerId" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="CurrencyId" type="s:string" />
    <wsdl:part name="CreditCardNumber" type="s:string" />
    <wsdl:part name="ExpDate" type="s:string" />
    <wsdl:part name="CVV" type="s:string" />
    <wsdl:part name="CreditCardType" type="s:string" />
    <wsdl:part name="CreditMethod" type="s:string" />
    <wsdl:part name="CreditTypeId" type="s:string" />
    <wsdl:part name="CustomerName" type="s:string" />
    <wsdl:part name="PaymentsNumber" type="s:string" />
    <wsdl:part name="PassportNumber" type="s:string" />
    <wsdl:part name="ReferenceNumber" type="s:string" />
    <wsdl:part name="VoucherNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateReceiptHttpPostOut">
    <wsdl:part name="Body" element="tns:CreateReceiptResponce" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="supplierId" type="s:string" />
    <wsdl:part name="addId" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTipulimPriceForSupplierHttpPostOut">
    <wsdl:part name="Body" element="tns:TipulimPriceResponce" />
  </wsdl:message>
  <wsdl:message name="CheckSecurityHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="ResourceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSecurityHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="LoginName" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PNRToDocketHttpPostOut">
    <wsdl:part name="Body" element="tns:PNR2DocketResponse" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceHttpPostIn">
    <wsdl:part name="docketId" type="s:string" />
    <wsdl:part name="travellerId" type="s:string" />
    <wsdl:part name="orderNights" type="s:string" />
    <wsdl:part name="actionType" type="s:string" />
    <wsdl:part name="generalAreaId" type="s:string" />
    <wsdl:part name="makatNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateTravellerMakatBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="SupplierPriceID" type="s:string" />
    <wsdl:part name="PriceID" type="s:string" />
    <wsdl:part name="SuppPriceType" type="s:string" />
    <wsdl:part name="OrderRooms" type="s:string" />
    <wsdl:part name="FromDate" type="s:string" />
    <wsdl:part name="ToDate" type="s:string" />
    <wsdl:part name="MakeOrder" type="s:string" />
    <wsdl:part name="RoomTypeStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="hotel_rooms_checkHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="orderFlightPricesHttpPostOut">
    <wsdl:part name="Body" element="tns:FlightPriceValidateResponce" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesHttpPostIn">
    <wsdl:part name="AgencyId" type="s:string" />
    <wsdl:part name="SystemType" type="s:string" />
    <wsdl:part name="BundleId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cancelFlightPricesHttpPostOut">
    <wsdl:part name="Body" element="tns:FlightPriceValidateResponce" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataHttpPostIn">
    <wsdl:part name="StringifiedHtml" type="s:string" />
    <wsdl:part name="HeadContent" type="s:string" />
    <wsdl:part name="BaseUrl" type="s:string" />
    <wsdl:part name="FromMail" type="s:string" />
    <wsdl:part name="ToMail" type="s:string" />
    <wsdl:part name="SubjectMail" type="s:string" />
    <wsdl:part name="BodyMail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndMetaDataHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesHttpPostIn">
    <wsdl:part name="StringifiedHtml" type="s:string" />
    <wsdl:part name="CssRules" type="s:string" />
    <wsdl:part name="BaseUrl" type="s:string" />
    <wsdl:part name="FromMail" type="s:string" />
    <wsdl:part name="ToMail" type="s:string" />
    <wsdl:part name="SubjectMail" type="s:string" />
    <wsdl:part name="BodyMail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAsPdfByHtmlAndCssRulesHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="Agency2000WSSoap">
    <wsdl:operation name="CreateReceipt">
      <wsdl:input message="tns:CreateReceiptSoapIn" />
      <wsdl:output message="tns:CreateReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <wsdl:input message="tns:GetTipulimPriceForSupplierSoapIn" />
      <wsdl:output message="tns:GetTipulimPriceForSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <wsdl:input message="tns:CheckSecuritySoapIn" />
      <wsdl:output message="tns:CheckSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <wsdl:input message="tns:PNRToDocketSoapIn" />
      <wsdl:output message="tns:PNRToDocketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <wsdl:input message="tns:updateTravellerMakatBalanceSoapIn" />
      <wsdl:output message="tns:updateTravellerMakatBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <wsdl:input message="tns:hotel_rooms_checkSoapIn" />
      <wsdl:output message="tns:hotel_rooms_checkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <wsdl:input message="tns:orderFlightPricesSoapIn" />
      <wsdl:output message="tns:orderFlightPricesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <wsdl:input message="tns:cancelFlightPricesSoapIn" />
      <wsdl:output message="tns:cancelFlightPricesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        HeadContent - Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) (Allowed Empty).
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - The sender Mail adress
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - The mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndMetaDataSoapIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Css Rules, convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        CssRules - CSS Rules (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url. (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - From Mail
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - Mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndCssRulesSoapIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndCssRulesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Agency2000WSHttpGet">
    <wsdl:operation name="CreateReceipt">
      <wsdl:input message="tns:CreateReceiptHttpGetIn" />
      <wsdl:output message="tns:CreateReceiptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <wsdl:input message="tns:GetTipulimPriceForSupplierHttpGetIn" />
      <wsdl:output message="tns:GetTipulimPriceForSupplierHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <wsdl:input message="tns:CheckSecurityHttpGetIn" />
      <wsdl:output message="tns:CheckSecurityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <wsdl:input message="tns:PNRToDocketHttpGetIn" />
      <wsdl:output message="tns:PNRToDocketHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <wsdl:input message="tns:updateTravellerMakatBalanceHttpGetIn" />
      <wsdl:output message="tns:updateTravellerMakatBalanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <wsdl:input message="tns:hotel_rooms_checkHttpGetIn" />
      <wsdl:output message="tns:hotel_rooms_checkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <wsdl:input message="tns:orderFlightPricesHttpGetIn" />
      <wsdl:output message="tns:orderFlightPricesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <wsdl:input message="tns:cancelFlightPricesHttpGetIn" />
      <wsdl:output message="tns:cancelFlightPricesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        HeadContent - Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) (Allowed Empty).
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - The sender Mail adress
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - The mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndMetaDataHttpGetIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndMetaDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Css Rules, convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        CssRules - CSS Rules (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url. (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - From Mail
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - Mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndCssRulesHttpGetIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndCssRulesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Agency2000WSHttpPost">
    <wsdl:operation name="CreateReceipt">
      <wsdl:input message="tns:CreateReceiptHttpPostIn" />
      <wsdl:output message="tns:CreateReceiptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <wsdl:input message="tns:GetTipulimPriceForSupplierHttpPostIn" />
      <wsdl:output message="tns:GetTipulimPriceForSupplierHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <wsdl:input message="tns:CheckSecurityHttpPostIn" />
      <wsdl:output message="tns:CheckSecurityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <wsdl:input message="tns:PNRToDocketHttpPostIn" />
      <wsdl:output message="tns:PNRToDocketHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <wsdl:input message="tns:updateTravellerMakatBalanceHttpPostIn" />
      <wsdl:output message="tns:updateTravellerMakatBalanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <wsdl:input message="tns:hotel_rooms_checkHttpPostIn" />
      <wsdl:output message="tns:hotel_rooms_checkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <wsdl:input message="tns:orderFlightPricesHttpPostIn" />
      <wsdl:output message="tns:orderFlightPricesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <wsdl:input message="tns:cancelFlightPricesHttpPostIn" />
      <wsdl:output message="tns:cancelFlightPricesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        HeadContent - Metadata (all the content you wish to be in the head element, such as links to css files, fonts etc.) (Allowed Empty).
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - The sender Mail adress
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - The mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndMetaDataHttpPostIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndMetaDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert an html tags to Pdf And Send it via mail.
                                                    &lt;br/&gt;Recieve an html page/element and Css Rules, convert it to pdf and send it via mail.
                                                    &lt;br/&gt;Returns true if the conversion was succesful.
                                                    &lt;br/&gt;&lt;b&gt;&lt;u&gt;Params&lt;/u&gt;&lt;/b&gt;
                                                    &lt;ul&gt;
                                                      &lt;li&gt;
                                                        StringifiedHtml - Html as a string.
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        CssRules - CSS Rules (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BaseUrl - Allows the converter to resolve relative urls. Basically, baseUrl + relative image/css url = full absolute url. (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        FromMail - From Mail
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        ToMail - Mail Reciepient 
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        SubjectMail - The mail's subject (Allowed Empty)
                                                      &lt;/li&gt;
                                                      &lt;li&gt;
                                                        BodyMail - The mail's Content (Allowed Empty)
                                                      &lt;/li&gt;
                                                    &lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendAsPdfByHtmlAndCssRulesHttpPostIn" />
      <wsdl:output message="tns:SendAsPdfByHtmlAndCssRulesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Agency2000WSSoap" type="tns:Agency2000WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReceipt">
      <soap:operation soapAction="http://tempuri.org/CreateReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <soap:operation soapAction="http://tempuri.org/GetTipulimPriceForSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <soap:operation soapAction="http://tempuri.org/CheckSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <soap:operation soapAction="http://tempuri.org/PNRToDocket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <soap:operation soapAction="http://tempuri.org/updateTravellerMakatBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <soap:operation soapAction="http://tempuri.org/hotel_rooms_check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <soap:operation soapAction="http://tempuri.org/orderFlightPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <soap:operation soapAction="http://tempuri.org/cancelFlightPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <soap:operation soapAction="http://tempuri.org/SendAsPdfByHtmlAndMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <soap:operation soapAction="http://tempuri.org/SendAsPdfByHtmlAndCssRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Agency2000WSSoap12" type="tns:Agency2000WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReceipt">
      <soap12:operation soapAction="http://tempuri.org/CreateReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <soap12:operation soapAction="http://tempuri.org/GetTipulimPriceForSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <soap12:operation soapAction="http://tempuri.org/CheckSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <soap12:operation soapAction="http://tempuri.org/PNRToDocket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <soap12:operation soapAction="http://tempuri.org/updateTravellerMakatBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <soap12:operation soapAction="http://tempuri.org/hotel_rooms_check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <soap12:operation soapAction="http://tempuri.org/orderFlightPrices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <soap12:operation soapAction="http://tempuri.org/cancelFlightPrices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <soap12:operation soapAction="http://tempuri.org/SendAsPdfByHtmlAndMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <soap12:operation soapAction="http://tempuri.org/SendAsPdfByHtmlAndCssRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Agency2000WSHttpGet" type="tns:Agency2000WSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateReceipt">
      <http:operation location="/CreateReceipt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <http:operation location="/GetTipulimPriceForSupplier" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <http:operation location="/CheckSecurity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <http:operation location="/PNRToDocket" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <http:operation location="/updateTravellerMakatBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <http:operation location="/hotel_rooms_check" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <http:operation location="/orderFlightPrices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <http:operation location="/cancelFlightPrices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <http:operation location="/SendAsPdfByHtmlAndMetaData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <http:operation location="/SendAsPdfByHtmlAndCssRules" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Agency2000WSHttpPost" type="tns:Agency2000WSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateReceipt">
      <http:operation location="/CreateReceipt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipulimPriceForSupplier">
      <http:operation location="/GetTipulimPriceForSupplier" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSecurity">
      <http:operation location="/CheckSecurity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNRToDocket">
      <http:operation location="/PNRToDocket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTravellerMakatBalance">
      <http:operation location="/updateTravellerMakatBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_rooms_check">
      <http:operation location="/hotel_rooms_check" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderFlightPrices">
      <http:operation location="/orderFlightPrices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelFlightPrices">
      <http:operation location="/cancelFlightPrices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndMetaData">
      <http:operation location="/SendAsPdfByHtmlAndMetaData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAsPdfByHtmlAndCssRules">
      <http:operation location="/SendAsPdfByHtmlAndCssRules" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Agency2000WS">
    <wsdl:port name="Agency2000WSSoap" binding="tns:Agency2000WSSoap">
      <soap:address location="http://web21.agency2000.co.il/agency2000WS/agency2000ws.asmx" />
    </wsdl:port>
    <wsdl:port name="Agency2000WSSoap12" binding="tns:Agency2000WSSoap12">
      <soap12:address location="http://web21.agency2000.co.il/agency2000WS/agency2000ws.asmx" />
    </wsdl:port>
    <wsdl:port name="Agency2000WSHttpGet" binding="tns:Agency2000WSHttpGet">
      <http:address location="http://web21.agency2000.co.il/agency2000WS/agency2000ws.asmx" />
    </wsdl:port>
    <wsdl:port name="Agency2000WSHttpPost" binding="tns:Agency2000WSHttpPost">
      <http:address location="http://web21.agency2000.co.il/agency2000WS/agency2000ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>